{% extends "base.html" %}

{% block title %}Academic Calendar - Saket College{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<div class="content-container">
  <h1 class="page-title">Academic Calendar</h1>
  
  <table class="calendar-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Academic Calendar 2019-20</td>
        <td><a href="https://saketcollege.edu.in/Docs/Academic/Academic%20Calendar/Academic%20Calendar%202019-20.pdf?_t=1697866128" target="_blank" class="view-button">View</a></td>
      </tr>
      <tr>
        <td>Academic Calendar 2020-21</td>
        <td><a href="https://saketcollege.edu.in/Docs/Academic/Academic%20Calendar/Academic%20Calendar%202020-21.pdf?_t=1697866129" target="_blank" class="view-button">View</a></td>
      </tr>
      <tr>
        <td>Academic Calendar 2021-22</td>
        <td><a href="https://saketcollege.edu.in/Docs/Academic/Academic%20Calendar/Academic%20Calendar%202021-22.pdf?_t=1697866139" target="_blank" class="view-button">View</a></td>
      </tr>
      <tr>
        <td>Academic Calendar 2022-23</td>
        <td><a href="https://saketcollege.edu.in/Docs/Academic/Academic%20Calendar/Academic%20Calendar%202022-23.pdf?_t=1697866134" target="_blank" class="view-button">View</a></td>
      </tr>
      <tr>
        <td>Academic Calendar 2023-24</td>
        <td><a href="https://saketcollege.edu.in/Docs/Academic/Academic%20Calendar/Academic%20Calender%202023-24.pdf?_t=1734230461" target="_blank" class="view-button">View</a></td>
      </tr>
      <tr>
        <td>Academic Calendar 2024-25</td>
        <td><a href="https://saketcollege.edu.in/Docs/Academic/Academic%20Calendar/Acadmeic%20Calender%202024-25.pdf?_t=1734230591" target="_blank" class="view-button">View</a></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}